
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Eclipse / STS
.classpath
.factorypath
.project
.settings/
.apt_generated/
.springBeans
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build output
build/

# VS Code
.vscode/